{"swagger":"2.0","info":{"title":"Congo - Conference Management Made Easy","description":"Multi-tenant conference management application","contact":{"name":"Gopher Academy","email":"social@gopheracademy.com","url":"https://gopheracademy.com"},"license":{"name":"MIT","url":"https://github.com/gopheracademy/congo/blob/master/LICENSE"},"version":""},"host":"api.gopheracademy.com","basePath":"/api","schemes":["http"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","application/gob","application/x-gob"],"paths":{"/":{"get":{"description":"Render single page app HTML","operationId":"ui#bootstrap","responses":{"200":{"description":"OK"}},"schemes":["http"]}},"/auth/refresh":{"post":{"description":"Obtain a refreshed access token","operationId":"auth#refresh","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/RefreshAuthPayload"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Authorize"}}},"schemes":["http"]}},"/auth/token":{"post":{"description":"Obtain an access token","operationId":"auth#token","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/TokenAuthPayload"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Authorize"}}},"schemes":["http"]}},"/auth/{provider}":{"get":{"description":"OAUTH2 login endpoint","operationId":"auth#oauth","parameters":[{"name":"provider","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Authorize"}}},"schemes":["http"]}},"/auth/{provider}/callback":{"get":{"description":"OAUTH2 callback endpoint","operationId":"auth#callback","parameters":[{"name":"provider","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"schemes":["http"]}},"/users":{"get":{"description":"List all users in account","operationId":"user#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserCollection"}}},"schemes":["http"]},"post":{"description":"Record new user","operationId":"user#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateUserPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/accounts/[0-9]+/users/[0-9]+$"}}}},"schemes":["http"]}},"/users/{userID}":{"get":{"description":"Retrieve user with given id","operationId":"user#show","parameters":[{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"404":{"description":"Not Found"}},"schemes":["http"]},"delete":{"operationId":"user#delete","parameters":[{"name":"userID","in":"path","description":"User ID","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["http"]},"patch":{"operationId":"user#update","parameters":[{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateUserPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["http"]}},"/users/{userID}/proposals":{"get":{"description":"List all proposals for a user","operationId":"proposal#list","parameters":[{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProposalCollection"}}},"schemes":["http"]},"post":{"description":"Create a new proposal","operationId":"proposal#create","parameters":[{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateProposalPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/users/[0-9]+/proposals/[0-9]+$"}}}},"schemes":["http"]}},"/users/{userID}/proposals/{proposalID}":{"get":{"description":"Retrieve proposal with given id","operationId":"proposal#show","parameters":[{"name":"proposalID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Proposal"}},"404":{"description":"Not Found"}},"schemes":["http"]},"delete":{"operationId":"proposal#delete","parameters":[{"name":"proposalID","in":"path","description":"Proposal ID","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["http"]},"patch":{"operationId":"proposal#update","parameters":[{"name":"proposalID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateProposalPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["http"]}},"/users/{userID}/proposals/{proposalID}/review":{"get":{"description":"List all reviews for a proposal","operationId":"review#list","parameters":[{"name":"proposalID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReviewCollection"}}},"schemes":["http"]},"post":{"description":"Create a new review","operationId":"review#create","parameters":[{"name":"proposalID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateReviewPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/users/[0-9]+/proposals/[0-9]+/reviews/[0-9]+$"}}}},"schemes":["http"]}},"/users/{userID}/proposals/{proposalID}/review/{reviewID}":{"get":{"description":"Retrieve review with given id","operationId":"review#show","parameters":[{"name":"proposalID","in":"path","required":true,"type":"integer"},{"name":"reviewID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Review"}},"404":{"description":"Not Found"}},"schemes":["http"]},"delete":{"operationId":"review#delete","parameters":[{"name":"proposalID","in":"path","required":true,"type":"integer"},{"name":"reviewID","in":"path","description":"Review ID","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["http"]},"patch":{"operationId":"review#update","parameters":[{"name":"proposalID","in":"path","required":true,"type":"integer"},{"name":"reviewID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateReviewPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["http"]}}},"definitions":{"Authorize":{"title":"Mediatype identifier: application/vnd.authorize+json","type":"object","properties":{"access_token":{"type":"string","description":"access token","example":"Aut aspernatur excepturi."},"expires_in":{"type":"integer","description":"Time to expiration in seconds","example":1423874802512420957,"format":"int64"},"token_type":{"type":"string","description":"type of token","example":"Ab sit eos."}},"description":"Token authorization response","example":{"access_token":"Sunt et.","expires_in":2989943127059678129,"token_type":"Minima error."}},"CreateProposalPayload":{"title":"CreateProposalPayload","type":"object","properties":{"abstract":{"type":"string","example":"b6pqcaacv1","minLength":50,"maxLength":500},"detail":{"type":"string","example":"xva4vwhoml","minLength":100,"maxLength":2000},"firstname":{"type":"string","example":"umo5","minLength":2},"title":{"type":"string","example":"9j1rvi4yh3","minLength":10,"maxLength":200},"withdrawn":{"type":"boolean","example":false}},"required":["title","abstract","detail"]},"CreateReviewPayload":{"title":"CreateReviewPayload","type":"object","properties":{"comment":{"type":"string","example":"n2i4et0dqo","minLength":10,"maxLength":200},"rating":{"type":"integer","example":4,"minimum":1,"maximum":5}},"required":["rating"]},"CreateUserPayload":{"title":"CreateUserPayload","type":"object","properties":{"bio":{"type":"string","example":"fea6i6vczb","maxLength":500},"city":{"type":"string","example":"Omnis unde non itaque."},"country":{"type":"string","example":"Suscipit occaecati quas minus dolor."},"email":{"type":"string","example":"dario_stoltenberg@bergnaum.biz","format":"email"},"firstname":{"type":"string","example":"Quidem voluptatem."},"lastname":{"type":"string","example":"Inventore atque qui repellendus ut."},"state":{"type":"string","example":"Quo possimus provident optio voluptatem sapiente."}},"required":["firstname","lastname","email"]},"Proposal":{"title":"Mediatype identifier: application/vnd.proposal+json","type":"object","properties":{"abstract":{"type":"string","description":"Response abstract","example":"ktb5njwyki","minLength":50,"maxLength":500},"detail":{"type":"string","description":"Response detail","example":"9rjqyyxrev","minLength":100,"maxLength":2000},"href":{"type":"string","description":"API href of user","example":"Minus nam enim doloremque blanditiis quo nostrum."},"id":{"type":"integer","description":"ID of user","example":6223143033744565399,"format":"int64"},"title":{"type":"string","description":"Response title","example":"on0mcoyx7h","minLength":10,"maxLength":200}},"description":"A response to a CFP","example":{"abstract":"Adipisci eaque molestias dolorum illo.","detail":"Optio beatae aperiam quo.","href":"Neque beatae consequatur mollitia sed.","id":7396748008661839789,"title":"Eum eos tempora corporis aliquam."}},"ProposalCollection":{"title":"Mediatype identifier: application/vnd.proposal+json; type=collection","type":"array","items":{"type":"object","properties":{"abstract":{"type":"string","description":"Response abstract","example":"ktb5njwyki","minLength":50,"maxLength":500},"detail":{"type":"string","description":"Response detail","example":"9rjqyyxrev","minLength":100,"maxLength":2000},"href":{"type":"string","description":"API href of user","example":"Minus nam enim doloremque blanditiis quo nostrum."},"id":{"type":"integer","description":"ID of user","example":6223143033744565399,"format":"int64"},"title":{"type":"string","description":"Response title","example":"on0mcoyx7h","minLength":10,"maxLength":200}},"example":{"abstract":"Nulla suscipit.","detail":"Est esse a inventore libero sint cumque.","href":"Iste qui molestiae.","id":9223089239784314814,"title":"Dolorem voluptas et iure animi."}},"example":[{"abstract":"Sit ut.","detail":"Qui quia voluptates culpa suscipit quia.","href":"Nihil aliquam qui ut nihil.","id":231507145324557688,"title":"Ducimus cupiditate quo molestias dicta excepturi."},{"abstract":"Ullam itaque ex eum hic.","detail":"Qui aspernatur vitae voluptatum saepe.","href":"Porro officia harum tenetur sint aspernatur nemo.","id":6598851851654579179,"title":"Alias impedit."}]},"RefreshAuthPayload":{"title":"RefreshAuthPayload","type":"object","properties":{"application":{"type":"string","description":"UUID of requesting application"},"email":{"type":"string","description":"email"},"password":{"type":"string","description":"password"}}},"Review":{"title":"Mediatype identifier: application/vnd.review+json","type":"object","properties":{"comment":{"type":"string","description":"Review comments","example":"h57kdhnj3l","minLength":10,"maxLength":200},"href":{"type":"string","description":"API href of user","example":"Quia aut sed recusandae amet."},"id":{"type":"integer","description":"ID of user","example":5227694881634503236,"format":"int64"},"rating":{"type":"integer","description":"Rating of proposal, from 1-5","example":3,"minimum":1,"maximum":5}},"description":"A review is submitted by a reviewer","example":{"comment":"Sequi ab qui itaque.","href":"Est delectus.","id":5564870479711211559,"rating":3039931142355052562}},"ReviewCollection":{"title":"Mediatype identifier: application/vnd.review+json; type=collection","type":"array","items":{"type":"object","properties":{"comment":{"type":"string","description":"Review comments","example":"h57kdhnj3l","minLength":10,"maxLength":200},"href":{"type":"string","description":"API href of user","example":"Quia aut sed recusandae amet."},"id":{"type":"integer","description":"ID of user","example":5227694881634503236,"format":"int64"},"rating":{"type":"integer","description":"Rating of proposal, from 1-5","example":3,"minimum":1,"maximum":5}},"example":{"comment":"Hic et doloremque voluptatem veniam.","href":"Dolor excepturi.","id":4633020784789367096,"rating":1001754513597156785}},"example":[{"comment":"Et sunt tempore.","href":"Id tempora facilis voluptas quia.","id":2096384514231226535,"rating":7713579206229958923},{"comment":"Nihil voluptatem qui voluptate recusandae nihil nesciunt.","href":"Reprehenderit et qui.","id":4545664867190186061,"rating":26562566763033404},{"comment":"Aut sit.","href":"Numquam ex minima.","id":4745430985211581612,"rating":3588184944794887035}]},"TokenAuthPayload":{"title":"TokenAuthPayload","type":"object","properties":{"application":{"type":"string","description":"UUID of requesting application"},"email":{"type":"string","description":"email"},"password":{"type":"string","description":"password"}}},"UpdateProposalPayload":{"title":"UpdateProposalPayload","type":"object","properties":{"abstract":{"type":"string","minLength":50,"maxLength":500},"detail":{"type":"string","minLength":100,"maxLength":2000},"firstname":{"type":"string","minLength":2},"title":{"type":"string","minLength":10,"maxLength":200},"withdrawn":{"type":"boolean"}}},"UpdateReviewPayload":{"title":"UpdateReviewPayload","type":"object","properties":{"comment":{"type":"string","minLength":10,"maxLength":200},"rating":{"type":"integer","minimum":1,"maximum":5}}},"UpdateUserPayload":{"title":"UpdateUserPayload","type":"object","properties":{"bio":{"type":"string","maxLength":500},"city":{"type":"string"},"country":{"type":"string"},"email":{"type":"string","format":"email"},"firstname":{"type":"string"},"lastname":{"type":"string"},"state":{"type":"string"}},"required":["email"]},"User":{"title":"Mediatype identifier: application/vnd.user+json","type":"object","properties":{"bio":{"type":"string","description":"Biography of user","example":"ghrjbr1cap","maxLength":500},"city":{"type":"string","description":"City of residence","example":"Dolor in voluptatem sit neque iusto."},"country":{"type":"string","description":"Country of residence","example":"Et quae."},"email":{"type":"string","description":"Email address of user","example":"lolita@ortiz.name","format":"email"},"firstname":{"type":"string","description":"First name of user","example":"Similique reiciendis aut sit."},"href":{"type":"string","description":"API href of user","example":"Et voluptatem eum."},"id":{"type":"integer","description":"ID of user","example":7076085756179174001,"format":"int64"},"lastname":{"type":"string","description":"Last name of user","example":"Quasi consectetur iusto dolor iure fuga harum."},"role":{"type":"string","description":"Role of user","example":"Placeat cumque quos praesentium id quis asperiores."},"state":{"type":"string","description":"State of residence","example":"Aliquam corporis dolorum nobis nihil."}},"description":"A user belonging to a tenant account","example":{"bio":"Quae fuga tempora exercitationem nihil.","city":"Facilis qui molestias nihil saepe.","country":"Et voluptatem non quis pariatur voluptatem.","email":"Reprehenderit et ad quo ad blanditiis.","firstname":"Sint hic ex.","href":"Ut quas dignissimos.","id":2734580900202435198,"lastname":"Aut tempora nihil voluptas quo nesciunt dolor.","role":"Sequi corporis non molestiae earum ut.","state":"Alias voluptatibus dolorem non."}},"UserCollection":{"title":"Mediatype identifier: application/vnd.user+json; type=collection","type":"array","items":{"type":"object","properties":{"bio":{"type":"string","description":"Biography of user","example":"ghrjbr1cap","maxLength":500},"city":{"type":"string","description":"City of residence","example":"Dolor in voluptatem sit neque iusto."},"country":{"type":"string","description":"Country of residence","example":"Et quae."},"email":{"type":"string","description":"Email address of user","example":"lolita@ortiz.name","format":"email"},"firstname":{"type":"string","description":"First name of user","example":"Similique reiciendis aut sit."},"href":{"type":"string","description":"API href of user","example":"Et voluptatem eum."},"id":{"type":"integer","description":"ID of user","example":7076085756179174001,"format":"int64"},"lastname":{"type":"string","description":"Last name of user","example":"Quasi consectetur iusto dolor iure fuga harum."},"role":{"type":"string","description":"Role of user","example":"Placeat cumque quos praesentium id quis asperiores."},"state":{"type":"string","description":"State of residence","example":"Aliquam corporis dolorum nobis nihil."}},"example":{"bio":"Praesentium quia enim et eos earum.","city":"Officiis a at quia.","country":"Nisi nihil.","email":"Est perferendis velit et.","firstname":"Earum ipsa.","href":"Iste eos qui earum sed nam.","id":1045187154426097148,"lastname":"Molestiae necessitatibus totam porro.","role":"Nam at hic.","state":"Occaecati enim."}},"example":[{"bio":"Sed aspernatur laudantium suscipit nihil.","city":"Reiciendis tempore est.","country":"Quis autem atque accusantium.","email":"Corrupti possimus dolore aut vel suscipit.","firstname":"Modi aut delectus qui autem vel saepe.","href":"Eum necessitatibus sapiente.","id":1475979965316359337,"lastname":"Fugit quod dicta dolores iusto blanditiis aut.","role":"Iusto minima est omnis mollitia.","state":"Qui accusantium molestiae."},{"bio":"Et et et totam repellat.","city":"Alias ipsum quaerat assumenda aut.","country":"Dolor molestiae ipsam pariatur dolores in.","email":"Necessitatibus ea vel odio et inventore sequi.","firstname":"Molestias nesciunt aspernatur excepturi.","href":"Eum ea temporibus quibusdam.","id":6528173202945424966,"lastname":"Ut a et sit.","role":"Quos in doloremque illo hic.","state":"Incidunt quis quo."},{"bio":"Et illo reiciendis quos dolores enim est.","city":"Dicta eum.","country":"Vitae enim ipsum.","email":"Perferendis sapiente velit vero fugiat odio est.","firstname":"Omnis quia perferendis.","href":"Hic cum hic incidunt aut.","id":5084227470515780236,"lastname":"Repudiandae asperiores dolor harum voluptas aut doloremque.","role":"Omnis debitis maiores.","state":"Autem rerum."}]}},"responses":{"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/Authorize"}}},"externalDocs":{"description":"congo guide","url":"https://gopheracademy.com/congo/getting-started.html"}}