{"swagger":"2.0","info":{"title":"Congo","description":"Congo","contact":{"name":"congo","email":"congo","url":"https://congo.gopheracademy.com"},"version":""},"host":"congo.gopheracademy.com","basePath":"/api","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","application/gob","application/x-gob"],"paths":{"/admin/users":{"get":{"description":"List all users\n\n** Required security scopes**:\n","operationId":"adminuser#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new user\n\n** Required security scopes**:\n","operationId":"adminuser#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAdminuserPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/admin/users/[0-9]+$"}}}},"schemes":["https"]}},"/admin/users/{userID}":{"get":{"description":"Retrieve user with given id\n\n** Required security scopes**:\n","operationId":"adminuser#show","parameters":[{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"adminuser#delete","parameters":[{"name":"userID","in":"path","description":"UserID ","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"adminuser#update","parameters":[{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAdminuserPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/auth/refresh":{"post":{"description":"Obtain a refreshed access token","operationId":"auth#refresh","responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Authorize"}}},"schemes":["https"],"security":[{"password":[]}]}},"/auth/token":{"post":{"description":"Obtain an access token","operationId":"auth#token","responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Authorize"}}},"schemes":["https"],"security":[{"password":[]}]}},"/healthz":{"get":{"description":"Get Server Status","operationId":"healthz#status","schemes":["https"]}},"/tenants":{"get":{"description":"List all tenants","operationId":"tenant#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TenantCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new tenant","operationId":"tenant#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateTenantPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}":{"get":{"description":"Retrieve tenant with given id","operationId":"tenant#show","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Tenant"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"operationId":"tenant#delete","parameters":[{"name":"tenantID","in":"path","description":"Tenant ID","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"operationId":"tenant#update","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateTenantPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/tenants/{tenantID}/events":{"get":{"description":"List all events\n\n** Required security scopes**:\n","operationId":"event#list","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new event\n\n** Required security scopes**:\n","operationId":"event#create","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateEventPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]/events/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}/events/{eventID}":{"get":{"description":"Retrieve event with given id","operationId":"event#show","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"event#delete","parameters":[{"name":"eventID","in":"path","description":"Event ID","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"event#update","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateEventPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/tenants/{tenantID}/events/{eventID}/speakers":{"get":{"description":"List all speakers","operationId":"speaker#list","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SpeakerCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new speaker","operationId":"speaker#create","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateSpeakerPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]/events/[0-9]/speakers/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}/events/{eventID}/speakers/{speakerID}":{"get":{"description":"Retrieve speaker with given id","operationId":"speaker#show","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"speakerID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Speaker"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"operationId":"speaker#delete","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"speakerID","in":"path","description":"Speaker ID","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"operationId":"speaker#update","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"speakerID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateSpeakerPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/tenants/{tenantID}/events/{eventID}/speakers/{speakerID}/presentations":{"get":{"description":"List all presentations\n\n** Required security scopes**:\n","operationId":"presentation#list","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"speakerID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PresentationCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new presentation\n\n** Required security scopes**:\n","operationId":"presentation#create","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"speakerID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreatePresentationPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]/events/[0-9]/presentations/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}/events/{eventID}/speakers/{speakerID}/presentations/{presentationID}":{"get":{"description":"Retrieve presentation with given id","operationId":"presentation#show","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"presentationID","in":"path","required":true,"type":"integer"},{"name":"speakerID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Presentation"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"presentation#delete","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"presentationID","in":"path","description":"Presentation ID","required":true,"type":"integer"},{"name":"speakerID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"presentation#update","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"presentationID","in":"path","required":true,"type":"integer"},{"name":"speakerID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdatePresentationPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/tenants/{tenantID}/series":{"get":{"description":"List all series\n\n** Required security scopes**:\n","operationId":"series#list","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SeriesCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new series\n\n** Required security scopes**:\n","operationId":"series#create","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateSeriesPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]/series/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}/series/{seriesID}":{"get":{"description":"Retrieve series with given id\n\n** Required security scopes**:\n","operationId":"series#show","parameters":[{"name":"seriesID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Series"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"series#delete","parameters":[{"name":"seriesID","in":"path","description":"Series ID","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"series#update","parameters":[{"name":"seriesID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateSeriesPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/tenants/{tenantID}/users":{"get":{"description":"List all users for a tenant\n\n** Required security scopes**:\n","operationId":"user#list","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new user\n\n** Required security scopes**:\n","operationId":"user#create","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateUserPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]+/users/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}/users/{userID}":{"get":{"description":"Retrieve user with given id\n\n** Required security scopes**:\n","operationId":"user#show","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"user#delete","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","description":"UserID ","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"user#update","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateUserPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/validate/{userID}":{"get":{"description":"validate user email","operationId":"validate#validate","parameters":[{"name":"userID","in":"path","required":true,"type":"string"},{"name":"v","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"}},"schemes":["https"]}}},"definitions":{"Authorize":{"title":"Mediatype identifier: application/vnd.authorize+json","type":"object","properties":{"access_token":{"type":"string","description":"access token","example":"Aut aspernatur excepturi."},"expires_in":{"type":"integer","description":"Time to expiration in seconds","example":1423874802512420957,"format":"int64"},"tenant":{"type":"object","properties":{"id":{"type":"integer","description":"ID","example":1999400714536249347,"format":"int64"},"name":{"type":"string","description":"name","example":"Sit eos."}},"description":"tenant","example":{"id":3969518700682667638,"name":"Et libero culpa."}},"token_type":{"type":"string","description":"type of token","example":"Error dolores dolorem tempora aut."},"user":{"type":"object","properties":{"active":{"type":"boolean","description":"Activation status","example":false},"email":{"type":"string","description":"Email address of user","example":"wz","format":"email","minLength":2},"first_name":{"type":"string","description":"First name of user","example":"bjyh","minLength":2},"href":{"type":"string","description":"API href of record","example":"Nisi aspernatur non voluptatibus."},"id":{"type":"integer","description":"ID of record","example":8769875072716209837,"format":"int64"},"last_name":{"type":"string","description":"Last name of user","example":"j8","minLength":2},"role":{"type":"string","description":"User's role","example":"Aliquid aut id quia."},"tenant_id":{"type":"integer","example":7069450719703720201,"format":"int64"},"validated":{"type":"boolean","description":"Validation status","example":true}},"description":"user","example":{"active":false,"email":"Ut magnam odit nemo numquam.","first_name":"Tempora a odit dolores voluptas quis.","href":"In eos ab porro est exercitationem nisi.","id":7180736786154332961,"last_name":"Velit excepturi aut minus nam.","role":"Doloremque blanditiis quo nostrum quo esse.","tenant_id":8701398505595027364,"validated":false}}},"description":"Token authorization response","example":{"access_token":"Laudantium tempore voluptatem.","expires_in":4869192690920850514,"tenant":{"id":5728362918364472433,"name":"Est aut adipisci eaque molestias dolorum illo."},"token_type":"Optio beatae aperiam quo.","user":{"active":false,"email":"Beatae consequatur mollitia sed explicabo id.","first_name":"Eos tempora corporis aliquam id nulla suscipit.","href":"Est esse a inventore libero sint cumque.","id":7831165214039818002,"last_name":"Qui molestiae.","role":"Atque dolorem voluptas et.","tenant_id":6244484567252341207,"validated":false}}},"CreateAdminuserPayload":{"title":"CreateAdminuserPayload","type":"object","properties":{"email":{"type":"string","minLength":2},"first_name":{"type":"string","minLength":2},"id":{"type":"integer","format":"int64"},"last_name":{"type":"string","minLength":2},"password":{"type":"string","minLength":8},"role":{"type":"string"},"tenant_id":{"type":"integer","format":"int64"},"validated":{"type":"boolean"},"validation_code":{"type":"string","minLength":8}},"required":["first_name","last_name","email","password","role"]},"CreateEventPayload":{"title":"CreateEventPayload","type":"object","properties":{"end_date":{"type":"string","example":"1979-07-05T11:15:08-04:00","format":"date-time"},"name":{"type":"string","example":"nbqp","minLength":2},"start_date":{"type":"string","example":"1984-03-10T12:52:26-05:00","format":"date-time"},"url":{"type":"string","example":"1dp91o3","minLength":5}},"required":["name"]},"CreatePresentationPayload":{"title":"CreatePresentationPayload","type":"object","properties":{"abstract":{"type":"string","example":"8yjbij39e7","minLength":10},"detail":{"type":"string","example":"Ut sint eveniet."},"name":{"type":"string","example":"Animi aut."}},"required":["abstract"]},"CreateSeriesPayload":{"title":"CreateSeriesPayload","type":"object","properties":{"name":{"type":"string","example":"nj","minLength":2}},"required":["name"]},"CreateSpeakerPayload":{"title":"CreateSpeakerPayload","type":"object","properties":{"bio":{"type":"string","example":"Non voluptas eum nihil."},"first_name":{"type":"string","example":"jg","minLength":2},"github":{"type":"string","example":"Voluptate delectus dolorem soluta iste."},"image_url":{"type":"string","example":"kh63r","minLength":5},"last_name":{"type":"string","example":"sd","minLength":2},"linkedin":{"type":"string","example":"Aliquam consequatur consequuntur impedit ducimus aliquam consequuntur."},"twitter":{"type":"string","example":"Qui voluptatem sit mollitia aut quos."}},"required":["first_name","last_name"]},"CreateTenantPayload":{"title":"CreateTenantPayload","type":"object","properties":{"name":{"type":"string","example":"7r2f","minLength":2}},"required":["name"]},"CreateUserPayload":{"title":"CreateUserPayload","type":"object","properties":{"email":{"type":"string","example":"54","minLength":2},"first_name":{"type":"string","minLength":2},"id":{"type":"integer","format":"int64"},"last_name":{"type":"string","minLength":2},"password":{"type":"string","example":"0375ll5g","minLength":8},"role":{"type":"string","example":"Fugiat sunt fuga id."},"validated":{"type":"boolean","example":true},"validation_code":{"type":"string","example":"n8yyptq3i","minLength":8}},"required":["first_name","last_name","email","password","role"]},"Event":{"title":"Mediatype identifier: application/vnd.event+json","type":"object","properties":{"end_date":{"type":"string","description":"end_date","example":"2003-04-17T13:45:10-04:00","format":"date-time"},"id":{"type":"integer","description":"ID of record","example":8151004217844433890,"format":"int64"},"location":{"type":"string","description":"location","example":"Ut enim qui quia voluptates culpa."},"name":{"type":"string","description":"name","example":"Quia similique nihil aliquam."},"presentations":{"type":"array","items":{"type":"object","properties":{"abstract":{"type":"string","description":"short description of talk","example":"Ut nihil."},"detail":{"type":"string","description":"detailed description of talk - not for public display","example":"Sit ducimus cupiditate quo molestias."},"id":{"type":"integer","description":"ID of record","example":8211863283135363273,"format":"int64"},"name":{"type":"string","description":"name of presentation","example":"Corporis ullam itaque."},"speaker":{"type":"object","properties":{"bio":{"type":"string","description":"speaker bio","example":"Eum hic accusamus qui aspernatur vitae."},"email":{"type":"string","description":"email address","example":"Saepe odit porro."},"first_name":{"type":"string","description":"first name","example":"Harum tenetur sint aspernatur nemo inventore placeat."},"github":{"type":"string","description":"github handle","example":"Impedit vel."},"href":{"type":"string","example":"Delectus ipsum facere qui vel."},"id":{"type":"integer","description":"ID of record","example":3234056067242143871,"format":"int64"},"image_url":{"type":"string","description":"url of speaker image","example":"Debitis nostrum."},"last_name":{"type":"string","description":"last name","example":"Quia aut sed recusandae amet."},"linkedin":{"type":"string","description":"linkedin url","example":"Omnis necessitatibus sequi ab qui itaque."},"twitter":{"type":"string","description":"twitter handle - no @","example":"Est delectus."}},"description":"speaker who is giving the talk","example":{"bio":"Id reiciendis hic et doloremque voluptatem veniam.","email":"Dolor excepturi.","first_name":"Voluptate rerum mollitia et sunt.","github":"Accusantium id tempora facilis.","href":"Quia tempora ipsum aperiam nihil voluptatem qui.","id":3360909363941664046,"image_url":"Nihil nesciunt voluptatem reprehenderit et qui.","last_name":"Libero cumque aut sit et numquam.","linkedin":"Minima odit ex distinctio dolorem similique.","twitter":"Atque molestiae numquam quae."}}},"example":{"abstract":"Porro alias.","detail":"Dolor in voluptatem sit neque iusto.","id":8959094650469010398,"name":"Quae incidunt voluptatem dolores tempora esse impedit.","speaker":{"bio":"Itaque praesentium incidunt illo distinctio fugit molestias.","email":"Ex harum quis.","first_name":"Aut ipsum dolor.","github":"Voluptatum aut sapiente consequatur sit autem vel.","href":"Et maiores quia dolorum ab officia.","id":3446227051356385407,"image_url":"Similique reiciendis aut sit.","last_name":"Et voluptatem eum.","linkedin":"Omnis quasi consectetur iusto dolor iure fuga.","twitter":"Aut placeat cumque."}}},"example":[{"abstract":"Id quis asperiores ipsum aliquam.","detail":"Dolorum nobis nihil vero quae.","id":8987120857796313680,"name":"Exercitationem nihil fugiat facilis qui molestias nihil.","speaker":{"bio":"Expedita et.","email":"Non quis pariatur voluptatem et reprehenderit et.","first_name":"Quo ad blanditiis officiis.","github":"Hic ex ea ut.","href":"Dignissimos rerum repellat aut tempora nihil voluptas.","id":812480929769847995,"image_url":"Dolor dolorum sequi corporis non.","last_name":"Earum ut eum alias voluptatibus dolorem non.","linkedin":"Praesentium quia enim et eos earum.","twitter":"Officiis a at quia."}},{"abstract":"Nisi nihil.","detail":"Est perferendis velit et.","id":8212111820326801850,"name":"Ipsa laudantium iste eos qui.","speaker":{"bio":"Sed nam.","email":"Minus molestiae necessitatibus totam porro.","first_name":"Nam at hic.","github":"Occaecati enim.","href":"Incidunt sed aspernatur laudantium suscipit nihil omnis.","id":4768200440712950512,"image_url":"Est est quis autem.","last_name":"Accusantium et.","linkedin":"Possimus dolore aut.","twitter":"Suscipit fuga modi aut delectus qui."}}]},"speakers":{"type":"array","items":{"type":"object","properties":{"bio":{"type":"string","description":"speaker bio","example":"Eum hic accusamus qui aspernatur vitae."},"email":{"type":"string","description":"email address","example":"Saepe odit porro."},"first_name":{"type":"string","description":"first name","example":"Harum tenetur sint aspernatur nemo inventore placeat."},"github":{"type":"string","description":"github handle","example":"Impedit vel."},"href":{"type":"string","example":"Delectus ipsum facere qui vel."},"id":{"type":"integer","description":"ID of record","example":3234056067242143871,"format":"int64"},"image_url":{"type":"string","description":"url of speaker image","example":"Debitis nostrum."},"last_name":{"type":"string","description":"last name","example":"Quia aut sed recusandae amet."},"linkedin":{"type":"string","description":"linkedin url","example":"Omnis necessitatibus sequi ab qui itaque."},"twitter":{"type":"string","description":"twitter handle - no @","example":"Est delectus."}},"example":{"bio":"Vel saepe vel eum necessitatibus.","email":"Repellat quos fugit quod dicta dolores iusto.","first_name":"Aut id iusto minima est omnis mollitia.","github":"Qui accusantium molestiae.","href":"Et et et totam repellat.","id":7759144187772925207,"image_url":"Ipsum quaerat.","last_name":"Aut fugit dolor molestiae.","linkedin":"Pariatur dolores.","twitter":"Quas necessitatibus ea vel."}},"example":[{"bio":"Inventore sequi quidem molestias nesciunt aspernatur.","email":"Itaque eum ea temporibus quibusdam vitae.","first_name":"Ut a et sit.","github":"Quos in doloremque illo hic.","href":"Incidunt quis quo.","id":3183414517644362271,"image_url":"Illo reiciendis.","last_name":"Dolores enim est cum dicta eum facilis.","linkedin":"Enim ipsum tempore perferendis sapiente velit vero.","twitter":"Odio est sunt omnis quia."},{"bio":"Voluptas hic.","email":"Hic incidunt.","first_name":"Odit aut repudiandae asperiores.","github":"Harum voluptas aut doloremque fugit omnis debitis.","href":"Earum autem rerum consectetur officia corrupti eos.","id":3008284526923858790,"image_url":"Voluptatum qui.","last_name":"Excepturi quis consectetur nam facere numquam accusamus.","linkedin":"Molestias et nisi similique.","twitter":"A voluptas sed est qui sunt."},{"bio":"Voluptatibus sint facere quibusdam nobis.","email":"Dolores saepe quia quis nihil unde.","first_name":"Ipsa occaecati exercitationem velit non.","github":"Id molestias.","href":"Quisquam vitae quia tenetur officia.","id":6587664006123639049,"image_url":"Numquam quo id mollitia.","last_name":"Omnis architecto sit hic et id labore.","linkedin":"Libero in ad.","twitter":"Quos dolor voluptatem saepe sunt."}]},"start_date":{"type":"string","description":"start_date","example":"1998-03-16T07:20:55-05:00","format":"date-time"},"url":{"type":"string","description":"event URL","example":"Quasi consequatur voluptatem natus error."}},"description":"An event is a specific instance of a conference, e.g. GopherCon 2016","example":{"end_date":"1974-12-08T06:34:22-05:00","id":2219768067462722682,"location":"Tempora saepe veniam.","name":"Tempore labore.","presentations":[{"abstract":"Non itaque vero suscipit occaecati quas.","detail":"Dolor voluptatem nihil error.","id":3099350175074608703,"name":"Deleniti omnis recusandae facilis quaerat quo illum.","speaker":{"bio":"Necessitatibus adipisci.","email":"Quasi sunt eligendi soluta ratione.","first_name":"Autem reprehenderit ea.","github":"Officiis aut doloribus qui non.","href":"Non libero sed ipsum nihil.","id":5393156423666760956,"image_url":"Quidem voluptatem.","last_name":"Inventore atque qui repellendus ut.","linkedin":"Quo possimus provident optio voluptatem sapiente.","twitter":"Fugit id quaerat."}},{"abstract":"Consequatur expedita.","detail":"Minima sequi sed.","id":5493573819062889534,"name":"Velit est sit ut.","speaker":{"bio":"Tenetur commodi aperiam beatae quo ut.","email":"Vel autem tempora praesentium placeat.","first_name":"Veniam quia aspernatur in.","github":"Ut rerum corrupti enim.","href":"Impedit vel voluptas enim.","id":549950183797065919,"image_url":"Cupiditate quos vel voluptates ea necessitatibus sed.","last_name":"Rem sed itaque omnis aut delectus.","linkedin":"Qui et vitae enim optio aliquam.","twitter":"Iure voluptatibus facere."}}],"speakers":[{"bio":"Sequi corrupti delectus quia sit nihil sed.","email":"Voluptates voluptatem assumenda et atque.","first_name":"Voluptatem eos.","github":"Et et.","href":"Minus magnam sequi quia commodi adipisci dolor.","id":4574375130798339995,"image_url":"Deserunt in.","last_name":"Minima voluptatum sunt.","linkedin":"Rerum amet hic nihil.","twitter":"Veritatis nesciunt ea dolores."}],"start_date":"1990-11-05T10:52:40-05:00","url":"Vero iste veniam saepe voluptas."}},"EventCollection":{"title":"Mediatype identifier: application/vnd.event+json; type=collection","type":"array","items":{"type":"object","properties":{"end_date":{"type":"string","description":"end_date","example":"2003-04-17T13:45:10-04:00","format":"date-time"},"id":{"type":"integer","description":"ID of record","example":8151004217844433890,"format":"int64"},"location":{"type":"string","description":"location","example":"Ut enim qui quia voluptates culpa."},"name":{"type":"string","description":"name","example":"Quia similique nihil aliquam."},"presentations":{"type":"array","items":{"type":"object","properties":{"abstract":{"type":"string","description":"short description of talk","example":"Ut nihil."},"detail":{"type":"string","description":"detailed description of talk - not for public display","example":"Sit ducimus cupiditate quo molestias."},"id":{"type":"integer","description":"ID of record","example":8211863283135363273,"format":"int64"},"name":{"type":"string","description":"name of presentation","example":"Corporis ullam itaque."},"speaker":{"type":"object","properties":{"bio":{"type":"string","description":"speaker bio","example":"Eum hic accusamus qui aspernatur vitae."},"email":{"type":"string","description":"email address","example":"Saepe odit porro."},"first_name":{"type":"string","description":"first name","example":"Harum tenetur sint aspernatur nemo inventore placeat."},"github":{"type":"string","description":"github handle","example":"Impedit vel."},"href":{"type":"string","example":"Delectus ipsum facere qui vel."},"id":{"type":"integer","description":"ID of record","example":3234056067242143871,"format":"int64"},"image_url":{"type":"string","description":"url of speaker image","example":"Debitis nostrum."},"last_name":{"type":"string","description":"last name","example":"Quia aut sed recusandae amet."},"linkedin":{"type":"string","description":"linkedin url","example":"Omnis necessitatibus sequi ab qui itaque."},"twitter":{"type":"string","description":"twitter handle - no @","example":"Est delectus."}},"description":"speaker who is giving the talk","example":{"bio":"Id reiciendis hic et doloremque voluptatem veniam.","email":"Dolor excepturi.","first_name":"Voluptate rerum mollitia et sunt.","github":"Accusantium id tempora facilis.","href":"Quia tempora ipsum aperiam nihil voluptatem qui.","id":3360909363941664046,"image_url":"Nihil nesciunt voluptatem reprehenderit et qui.","last_name":"Libero cumque aut sit et numquam.","linkedin":"Minima odit ex distinctio dolorem similique.","twitter":"Atque molestiae numquam quae."}}},"example":{"abstract":"Porro alias.","detail":"Dolor in voluptatem sit neque iusto.","id":8959094650469010398,"name":"Quae incidunt voluptatem dolores tempora esse impedit.","speaker":{"bio":"Itaque praesentium incidunt illo distinctio fugit molestias.","email":"Ex harum quis.","first_name":"Aut ipsum dolor.","github":"Voluptatum aut sapiente consequatur sit autem vel.","href":"Et maiores quia dolorum ab officia.","id":3446227051356385407,"image_url":"Similique reiciendis aut sit.","last_name":"Et voluptatem eum.","linkedin":"Omnis quasi consectetur iusto dolor iure fuga.","twitter":"Aut placeat cumque."}}},"example":[{"abstract":"Id quis asperiores ipsum aliquam.","detail":"Dolorum nobis nihil vero quae.","id":8987120857796313680,"name":"Exercitationem nihil fugiat facilis qui molestias nihil.","speaker":{"bio":"Expedita et.","email":"Non quis pariatur voluptatem et reprehenderit et.","first_name":"Quo ad blanditiis officiis.","github":"Hic ex ea ut.","href":"Dignissimos rerum repellat aut tempora nihil voluptas.","id":812480929769847995,"image_url":"Dolor dolorum sequi corporis non.","last_name":"Earum ut eum alias voluptatibus dolorem non.","linkedin":"Praesentium quia enim et eos earum.","twitter":"Officiis a at quia."}},{"abstract":"Nisi nihil.","detail":"Est perferendis velit et.","id":8212111820326801850,"name":"Ipsa laudantium iste eos qui.","speaker":{"bio":"Sed nam.","email":"Minus molestiae necessitatibus totam porro.","first_name":"Nam at hic.","github":"Occaecati enim.","href":"Incidunt sed aspernatur laudantium suscipit nihil omnis.","id":4768200440712950512,"image_url":"Est est quis autem.","last_name":"Accusantium et.","linkedin":"Possimus dolore aut.","twitter":"Suscipit fuga modi aut delectus qui."}}]},"speakers":{"type":"array","items":{"type":"object","properties":{"bio":{"type":"string","description":"speaker bio","example":"Eum hic accusamus qui aspernatur vitae."},"email":{"type":"string","description":"email address","example":"Saepe odit porro."},"first_name":{"type":"string","description":"first name","example":"Harum tenetur sint aspernatur nemo inventore placeat."},"github":{"type":"string","description":"github handle","example":"Impedit vel."},"href":{"type":"string","example":"Delectus ipsum facere qui vel."},"id":{"type":"integer","description":"ID of record","example":3234056067242143871,"format":"int64"},"image_url":{"type":"string","description":"url of speaker image","example":"Debitis nostrum."},"last_name":{"type":"string","description":"last name","example":"Quia aut sed recusandae amet."},"linkedin":{"type":"string","description":"linkedin url","example":"Omnis necessitatibus sequi ab qui itaque."},"twitter":{"type":"string","description":"twitter handle - no @","example":"Est delectus."}},"example":{"bio":"Vel saepe vel eum necessitatibus.","email":"Repellat quos fugit quod dicta dolores iusto.","first_name":"Aut id iusto minima est omnis mollitia.","github":"Qui accusantium molestiae.","href":"Et et et totam repellat.","id":7759144187772925207,"image_url":"Ipsum quaerat.","last_name":"Aut fugit dolor molestiae.","linkedin":"Pariatur dolores.","twitter":"Quas necessitatibus ea vel."}},"example":[{"bio":"Inventore sequi quidem molestias nesciunt aspernatur.","email":"Itaque eum ea temporibus quibusdam vitae.","first_name":"Ut a et sit.","github":"Quos in doloremque illo hic.","href":"Incidunt quis quo.","id":3183414517644362271,"image_url":"Illo reiciendis.","last_name":"Dolores enim est cum dicta eum facilis.","linkedin":"Enim ipsum tempore perferendis sapiente velit vero.","twitter":"Odio est sunt omnis quia."},{"bio":"Voluptas hic.","email":"Hic incidunt.","first_name":"Odit aut repudiandae asperiores.","github":"Harum voluptas aut doloremque fugit omnis debitis.","href":"Earum autem rerum consectetur officia corrupti eos.","id":3008284526923858790,"image_url":"Voluptatum qui.","last_name":"Excepturi quis consectetur nam facere numquam accusamus.","linkedin":"Molestias et nisi similique.","twitter":"A voluptas sed est qui sunt."},{"bio":"Voluptatibus sint facere quibusdam nobis.","email":"Dolores saepe quia quis nihil unde.","first_name":"Ipsa occaecati exercitationem velit non.","github":"Id molestias.","href":"Quisquam vitae quia tenetur officia.","id":6587664006123639049,"image_url":"Numquam quo id mollitia.","last_name":"Omnis architecto sit hic et id labore.","linkedin":"Libero in ad.","twitter":"Quos dolor voluptatem saepe sunt."}]},"start_date":{"type":"string","description":"start_date","example":"1998-03-16T07:20:55-05:00","format":"date-time"},"url":{"type":"string","description":"event URL","example":"Quasi consequatur voluptatem natus error."}},"example":{"end_date":"1983-01-25T06:26:06-05:00","id":4641383987606464932,"location":"Soluta quia temporibus sunt dolorum temporibus quasi.","name":"Distinctio sapiente eaque.","presentations":[{"abstract":"Sunt voluptas provident ratione quo voluptatem.","detail":"Eum sit beatae ut.","id":4868909360292392683,"name":"Doloremque nulla deserunt dolore.","speaker":{"bio":"Suscipit fugit possimus velit.","email":"Omnis adipisci omnis quod repellendus quis.","first_name":"Dolor est aperiam dolores.","github":"Cumque illum a in sed.","href":"Est hic.","id":8909298533104905850,"image_url":"Inventore molestiae dicta voluptatem in tempore.","last_name":"Eligendi autem ad exercitationem.","linkedin":"Architecto et illo animi non.","twitter":"Earum iure eligendi."}},{"abstract":"Voluptatem in tenetur ut magnam.","detail":"Autem sit.","id":7125382191676229814,"name":"In itaque consectetur.","speaker":{"bio":"Ducimus porro ut vel officia recusandae voluptatem.","email":"Non minus et.","first_name":"Provident reprehenderit non.","github":"Eaque non velit id amet facilis provident.","href":"Animi possimus maiores ipsam.","id":6279916552260440196,"image_url":"Et aut.","last_name":"Rerum consequatur corrupti.","linkedin":"Iste vitae consectetur quia ut ea.","twitter":"Voluptatem et voluptatem."}},{"abstract":"Nostrum velit veniam itaque ea laudantium.","detail":"Laudantium iure saepe dolorem fuga.","id":5562474282818170648,"name":"Magnam illo voluptatem.","speaker":{"bio":"Repellendus repudiandae odio ad.","email":"At dolor omnis rerum.","first_name":"Ex ut eum architecto modi beatae expedita.","github":"Inventore delectus.","href":"Consectetur quia et aperiam sit id id.","id":4209464997429369355,"image_url":"Soluta sit eum.","last_name":"Ut dolore provident non reprehenderit voluptatem.","linkedin":"Cumque itaque numquam nihil temporibus maxime.","twitter":"Ipsa cum rem at architecto fugit."}}],"speakers":[{"bio":"Sed nihil.","email":"Architecto iusto quia.","first_name":"Nihil quis eius soluta.","github":"Natus voluptas voluptates vitae alias.","href":"Cum maxime quas.","id":5577550803105871973,"image_url":"Consequatur facere vel velit molestias quis exercitationem.","last_name":"Repellendus consectetur qui commodi earum error.","linkedin":"Sit quam officia et et.","twitter":"Est itaque neque facilis et eos."}],"start_date":"1987-07-21T00:12:24-04:00","url":"Quis esse."}},"example":[{"end_date":"1982-01-25T17:38:07-05:00","id":3317917414448628009,"location":"Itaque aspernatur reiciendis aut debitis culpa nesciunt.","name":"Voluptates quia nostrum ut ab quia et.","presentations":[{"abstract":"Officia eos.","detail":"Reprehenderit assumenda et est.","id":4109165099879283569,"name":"Possimus dolore doloremque sed.","speaker":{"bio":"Temporibus ut.","email":"Quia temporibus ut libero ut laboriosam ad.","first_name":"Aliquam iste.","github":"In molestiae quo non.","href":"Officiis sint ea neque quia minus laborum.","id":5295766604265264280,"image_url":"Harum et.","last_name":"Consequatur natus.","linkedin":"Quas voluptates ullam veritatis soluta rem.","twitter":"Est repudiandae eum quis eos."}}],"speakers":[{"bio":"Veniam nostrum a dolorem tempore hic doloremque.","email":"Non quia.","first_name":"Perspiciatis quisquam est.","github":"Quaerat nam qui.","href":"Rerum officia dignissimos architecto fuga dolorum.","id":6858822207506392222,"image_url":"Veritatis omnis id.","last_name":"Deleniti veritatis sequi.","linkedin":"Nesciunt sed omnis officiis.","twitter":"Nesciunt est."},{"bio":"Neque ipsam rem ea iure.","email":"Corrupti mollitia et molestias temporibus enim qui.","first_name":"Nostrum quo enim iure velit voluptas.","github":"Ut autem eligendi voluptatibus ratione velit.","href":"Mollitia ut.","id":3993282334128812025,"image_url":"Consequatur minus dolores.","last_name":"Eius est et aliquam inventore est ab.","linkedin":"Ullam et sapiente quo qui facere unde.","twitter":"Iusto corporis asperiores et."}],"start_date":"1982-05-07T04:31:26-04:00","url":"Qui dolorem aut vel numquam blanditiis sed."},{"end_date":"2014-04-14T14:01:43-04:00","id":8006789703159549602,"location":"Dolorem in laborum blanditiis reprehenderit.","name":"Iste maiores aspernatur.","presentations":[{"abstract":"Quidem quae veritatis quia eos omnis.","detail":"Reiciendis veniam molestias ut quasi voluptas veritatis.","id":5200487861288189374,"name":"Nam omnis.","speaker":{"bio":"Odio repudiandae laboriosam sit aliquam iusto.","email":"Omnis temporibus ea.","first_name":"Et vel.","github":"Nobis totam ut.","href":"Rerum ut ea qui repellat ad tempore.","id":782328667748890442,"image_url":"Tenetur cum suscipit.","last_name":"Assumenda sapiente impedit aut rerum velit.","linkedin":"Ut sed eos aspernatur vitae.","twitter":"Eum id iure adipisci."}},{"abstract":"Unde inventore corrupti.","detail":"Quia omnis minus laborum accusamus minus.","id":5111889293273906715,"name":"Dicta tempora.","speaker":{"bio":"Iure aut dicta sit molestiae qui architecto.","email":"Exercitationem non officiis corrupti.","first_name":"Officia reprehenderit consequatur in doloremque dolore.","github":"Similique cum.","href":"Dignissimos ipsa quibusdam rerum consequuntur.","id":1798067530919552818,"image_url":"Ad odio sit recusandae ducimus quos repellat.","last_name":"Eum laudantium et quaerat.","linkedin":"Id nemo magni qui ut.","twitter":"Autem error quibusdam."}},{"abstract":"Natus exercitationem reiciendis.","detail":"Est quia excepturi.","id":1859139166926577831,"name":"Alias voluptatem culpa est necessitatibus rerum vel.","speaker":{"bio":"Qui qui officia.","email":"Rerum est.","first_name":"Et autem veritatis id similique porro.","github":"Architecto et quidem odio consequatur et commodi.","href":"Ea sapiente neque officiis.","id":2254924099770867910,"image_url":"Porro iusto eos enim adipisci consequatur.","last_name":"Explicabo qui autem qui sed eius.","linkedin":"Doloribus commodi.","twitter":"Omnis aut dolor eos."}}],"speakers":[{"bio":"Occaecati officiis quasi est.","email":"Ut sapiente ut.","first_name":"Et vitae odio quisquam est blanditiis dolorem.","github":"Vitae ipsum.","href":"Minus modi vel consequuntur dignissimos nemo.","id":5037118019503107116,"image_url":"Molestiae reiciendis rerum.","last_name":"Tenetur numquam molestias ipsa dolorem.","linkedin":"Voluptas veniam quidem doloremque corporis.","twitter":"Non quo incidunt ea veritatis deleniti quia."},{"bio":"Veniam dolore excepturi rerum saepe atque sed.","email":"Optio quia similique incidunt.","first_name":"Tempore aspernatur voluptatibus inventore illo laboriosam.","github":"Dolorem quibusdam quibusdam dignissimos fuga molestiae in.","href":"Labore laudantium distinctio officiis earum.","id":7926479926357173295,"image_url":"Officiis et quas omnis.","last_name":"Sunt nostrum.","linkedin":"Voluptas aliquid asperiores quos consequatur.","twitter":"Sit qui perspiciatis id ducimus alias."}],"start_date":"2005-08-24T03:57:45-04:00","url":"Aut ipsum."}]},"Presentation":{"title":"Mediatype identifier: application/vnd.presentation+json","type":"object","properties":{"abstract":{"type":"string","description":"short description of talk","example":"Ut nihil."},"detail":{"type":"string","description":"detailed description of talk - not for public display","example":"Sit ducimus cupiditate quo molestias."},"id":{"type":"integer","description":"ID of record","example":8211863283135363273,"format":"int64"},"name":{"type":"string","description":"name of presentation","example":"Corporis ullam itaque."},"speaker":{"type":"object","properties":{"bio":{"type":"string","description":"speaker bio","example":"Eum hic accusamus qui aspernatur vitae."},"email":{"type":"string","description":"email address","example":"Saepe odit porro."},"first_name":{"type":"string","description":"first name","example":"Harum tenetur sint aspernatur nemo inventore placeat."},"github":{"type":"string","description":"github handle","example":"Impedit vel."},"href":{"type":"string","example":"Delectus ipsum facere qui vel."},"id":{"type":"integer","description":"ID of record","example":3234056067242143871,"format":"int64"},"image_url":{"type":"string","description":"url of speaker image","example":"Debitis nostrum."},"last_name":{"type":"string","description":"last name","example":"Quia aut sed recusandae amet."},"linkedin":{"type":"string","description":"linkedin url","example":"Omnis necessitatibus sequi ab qui itaque."},"twitter":{"type":"string","description":"twitter handle - no @","example":"Est delectus."}},"description":"speaker who is giving the talk","example":{"bio":"Id reiciendis hic et doloremque voluptatem veniam.","email":"Dolor excepturi.","first_name":"Voluptate rerum mollitia et sunt.","github":"Accusantium id tempora facilis.","href":"Quia tempora ipsum aperiam nihil voluptatem qui.","id":3360909363941664046,"image_url":"Nihil nesciunt voluptatem reprehenderit et qui.","last_name":"Libero cumque aut sit et numquam.","linkedin":"Minima odit ex distinctio dolorem similique.","twitter":"Atque molestiae numquam quae."}}},"description":"A presentation is a scheduled talk given by a speaker","example":{"abstract":"Numquam eveniet.","detail":"Non laboriosam quo sed ducimus ut eum.","id":1942219196064683786,"name":"Quisquam et earum numquam nihil aliquid.","speaker":{"bio":"Dignissimos non.","email":"Eum nam aperiam aut veniam unde.","first_name":"In soluta ullam quis fugiat velit.","github":"Enim provident.","href":"Perspiciatis et.","id":8715654185554430465,"image_url":"Nemo quasi tempore magni veniam ut ducimus.","last_name":"Consectetur ipsum quia.","linkedin":"Unde repellendus optio et amet pariatur mollitia.","twitter":"Vel et sed quia et in."}}},"PresentationCollection":{"title":"Mediatype identifier: application/vnd.presentation+json; type=collection","type":"array","items":{"type":"object","properties":{"abstract":{"type":"string","description":"short description of talk","example":"Ut nihil."},"detail":{"type":"string","description":"detailed description of talk - not for public display","example":"Sit ducimus cupiditate quo molestias."},"id":{"type":"integer","description":"ID of record","example":8211863283135363273,"format":"int64"},"name":{"type":"string","description":"name of presentation","example":"Corporis ullam itaque."},"speaker":{"type":"object","properties":{"bio":{"type":"string","description":"speaker bio","example":"Eum hic accusamus qui aspernatur vitae."},"email":{"type":"string","description":"email address","example":"Saepe odit porro."},"first_name":{"type":"string","description":"first name","example":"Harum tenetur sint aspernatur nemo inventore placeat."},"github":{"type":"string","description":"github handle","example":"Impedit vel."},"href":{"type":"string","example":"Delectus ipsum facere qui vel."},"id":{"type":"integer","description":"ID of record","example":3234056067242143871,"format":"int64"},"image_url":{"type":"string","description":"url of speaker image","example":"Debitis nostrum."},"last_name":{"type":"string","description":"last name","example":"Quia aut sed recusandae amet."},"linkedin":{"type":"string","description":"linkedin url","example":"Omnis necessitatibus sequi ab qui itaque."},"twitter":{"type":"string","description":"twitter handle - no @","example":"Est delectus."}},"description":"speaker who is giving the talk","example":{"bio":"Id reiciendis hic et doloremque voluptatem veniam.","email":"Dolor excepturi.","first_name":"Voluptate rerum mollitia et sunt.","github":"Accusantium id tempora facilis.","href":"Quia tempora ipsum aperiam nihil voluptatem qui.","id":3360909363941664046,"image_url":"Nihil nesciunt voluptatem reprehenderit et qui.","last_name":"Libero cumque aut sit et numquam.","linkedin":"Minima odit ex distinctio dolorem similique.","twitter":"Atque molestiae numquam quae."}}},"example":{"abstract":"Porro alias.","detail":"Dolor in voluptatem sit neque iusto.","id":8959094650469010398,"name":"Quae incidunt voluptatem dolores tempora esse impedit.","speaker":{"bio":"Itaque praesentium incidunt illo distinctio fugit molestias.","email":"Ex harum quis.","first_name":"Aut ipsum dolor.","github":"Voluptatum aut sapiente consequatur sit autem vel.","href":"Et maiores quia dolorum ab officia.","id":3446227051356385407,"image_url":"Similique reiciendis aut sit.","last_name":"Et voluptatem eum.","linkedin":"Omnis quasi consectetur iusto dolor iure fuga.","twitter":"Aut placeat cumque."}}},"example":[{"abstract":"Pariatur labore aut qui.","detail":"In numquam exercitationem.","id":1621220189088278400,"name":"Est ut.","speaker":{"bio":"Voluptatum et quia non ex eum.","email":"Esse aut consequatur.","first_name":"Voluptate ut nam ex aliquam.","github":"Molestiae iure sed repellendus reiciendis.","href":"Ipsam praesentium.","id":3519600227125143037,"image_url":"Et enim magni.","last_name":"Et est perferendis laudantium mollitia.","linkedin":"Voluptatum molestias aut.","twitter":"Modi dolorem voluptas dolor asperiores id."}}]},"Series":{"title":"Mediatype identifier: application/vnd.series+json","type":"object","properties":{"id":{"type":"integer","description":"ID of record","example":5854521042413354769,"format":"int64"},"name":{"type":"string","description":"name","example":"Porro beatae molestiae repudiandae ea quas."}},"description":"A series is a recurring event, e.g. GopherCon","example":{"id":7133943798714918050,"name":"Repellendus sapiente dignissimos optio."}},"SeriesCollection":{"title":"Mediatype identifier: application/vnd.series+json; type=collection","type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"ID of record","example":5854521042413354769,"format":"int64"},"name":{"type":"string","description":"name","example":"Porro beatae molestiae repudiandae ea quas."}},"example":{"id":5780746183658769065,"name":"Numquam eaque ut architecto quisquam dolorem."}},"example":[{"id":1945541028233796983,"name":"Corporis et dolores repellat qui eum."},{"id":5517364143324073633,"name":"Magnam modi eligendi nihil cumque iusto aliquam."},{"id":3318527357296545674,"name":"Repellendus non autem laboriosam."}]},"Speaker":{"title":"Mediatype identifier: application/vnd.speaker+json","type":"object","properties":{"bio":{"type":"string","description":"speaker bio","example":"Eum hic accusamus qui aspernatur vitae."},"email":{"type":"string","description":"email address","example":"Saepe odit porro."},"first_name":{"type":"string","description":"first name","example":"Harum tenetur sint aspernatur nemo inventore placeat."},"github":{"type":"string","description":"github handle","example":"Impedit vel."},"href":{"type":"string","example":"Delectus ipsum facere qui vel."},"id":{"type":"integer","description":"ID of record","example":3234056067242143871,"format":"int64"},"image_url":{"type":"string","description":"url of speaker image","example":"Debitis nostrum."},"last_name":{"type":"string","description":"last name","example":"Quia aut sed recusandae amet."},"linkedin":{"type":"string","description":"linkedin url","example":"Omnis necessitatibus sequi ab qui itaque."},"twitter":{"type":"string","description":"twitter handle - no @","example":"Est delectus."}},"description":"A speaker is someone giving a talk at an event","example":{"bio":"Cumque eos voluptate.","email":"Voluptate quasi repellendus cum eius.","first_name":"Nihil corrupti ad qui omnis doloremque.","github":"Ut et fugit sed autem voluptas.","href":"Provident facilis recusandae aliquam consequuntur magnam dolor.","id":5845206586883501056,"image_url":"Enim ipsum aut est fuga nihil.","last_name":"Sit aut qui.","linkedin":"Aliquid numquam est sunt.","twitter":"Laborum aperiam."}},"SpeakerCollection":{"title":"Mediatype identifier: application/vnd.speaker+json; type=collection","type":"array","items":{"type":"object","properties":{"bio":{"type":"string","description":"speaker bio","example":"Eum hic accusamus qui aspernatur vitae."},"email":{"type":"string","description":"email address","example":"Saepe odit porro."},"first_name":{"type":"string","description":"first name","example":"Harum tenetur sint aspernatur nemo inventore placeat."},"github":{"type":"string","description":"github handle","example":"Impedit vel."},"href":{"type":"string","example":"Delectus ipsum facere qui vel."},"id":{"type":"integer","description":"ID of record","example":3234056067242143871,"format":"int64"},"image_url":{"type":"string","description":"url of speaker image","example":"Debitis nostrum."},"last_name":{"type":"string","description":"last name","example":"Quia aut sed recusandae amet."},"linkedin":{"type":"string","description":"linkedin url","example":"Omnis necessitatibus sequi ab qui itaque."},"twitter":{"type":"string","description":"twitter handle - no @","example":"Est delectus."}},"example":{"bio":"Vel saepe vel eum necessitatibus.","email":"Repellat quos fugit quod dicta dolores iusto.","first_name":"Aut id iusto minima est omnis mollitia.","github":"Qui accusantium molestiae.","href":"Et et et totam repellat.","id":7759144187772925207,"image_url":"Ipsum quaerat.","last_name":"Aut fugit dolor molestiae.","linkedin":"Pariatur dolores.","twitter":"Quas necessitatibus ea vel."}},"example":[{"bio":"Sit voluptas nemo nobis harum rerum.","email":"Architecto voluptate debitis.","first_name":"Qui quia et excepturi repellendus voluptate suscipit.","github":"Omnis nobis.","href":"Quos repudiandae expedita sint quidem.","id":6454163564242337776,"image_url":"Quibusdam ut quisquam.","last_name":"A nesciunt dolorem.","linkedin":"Et molestiae.","twitter":"A tempore reiciendis velit aut ipsum."}]},"Tenant":{"title":"Mediatype identifier: application/vnd.tenant+json","type":"object","properties":{"id":{"type":"integer","description":"ID","example":1999400714536249347,"format":"int64"},"name":{"type":"string","description":"name","example":"Sit eos."}},"description":"Tenant account in Congo","example":{"id":1848986484678543591,"name":"Consectetur nostrum voluptas nihil."}},"TenantCollection":{"title":"Mediatype identifier: application/vnd.tenant+json; type=collection","type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"ID","example":1999400714536249347,"format":"int64"},"name":{"type":"string","description":"name","example":"Sit eos."}},"example":{"id":2623300372570824163,"name":"Neque voluptatum vel."}},"example":[{"id":1424040913438738500,"name":"Corrupti debitis natus."},{"id":4607429923016203345,"name":"Et quia aut omnis et mollitia."}]},"UpdateAdminuserPayload":{"title":"UpdateAdminuserPayload","type":"object","properties":{"email":{"type":"string","minLength":2},"first_name":{"type":"string","minLength":2},"id":{"type":"integer","format":"int64"},"last_name":{"type":"string","minLength":2},"password":{"type":"string","minLength":8},"role":{"type":"string"},"validated":{"type":"boolean"},"validation_code":{"type":"string","minLength":8}}},"UpdateEventPayload":{"title":"UpdateEventPayload","type":"object","properties":{"end_date":{"type":"string","format":"date-time"},"name":{"type":"string","minLength":2},"start_date":{"type":"string","format":"date-time"},"url":{"type":"string","minLength":5}}},"UpdatePresentationPayload":{"title":"UpdatePresentationPayload","type":"object","properties":{"abstract":{"type":"string","minLength":10},"detail":{"type":"string"},"name":{"type":"string"}}},"UpdateSeriesPayload":{"title":"UpdateSeriesPayload","type":"object","properties":{"name":{"type":"string","minLength":2}}},"UpdateSpeakerPayload":{"title":"UpdateSpeakerPayload","type":"object","properties":{"bio":{"type":"string"},"first_name":{"type":"string","minLength":2},"github":{"type":"string"},"image_url":{"type":"string","minLength":5},"last_name":{"type":"string","minLength":2},"linkedin":{"type":"string"},"twitter":{"type":"string"}}},"UpdateTenantPayload":{"title":"UpdateTenantPayload","type":"object","properties":{"name":{"type":"string","minLength":2}}},"UpdateUserPayload":{"title":"UpdateUserPayload","type":"object","properties":{"email":{"type":"string","minLength":2},"first_name":{"type":"string","minLength":2},"id":{"type":"integer","format":"int64"},"last_name":{"type":"string","minLength":2},"password":{"type":"string","minLength":8},"role":{"type":"string"},"validated":{"type":"boolean"},"validation_code":{"type":"string","minLength":8}}},"User":{"title":"Mediatype identifier: application/vnd.user+json","type":"object","properties":{"active":{"type":"boolean","description":"Activation status","example":false},"email":{"type":"string","description":"Email address of user","example":"wz","format":"email","minLength":2},"first_name":{"type":"string","description":"First name of user","example":"bjyh","minLength":2},"href":{"type":"string","description":"API href of record","example":"Nisi aspernatur non voluptatibus."},"id":{"type":"integer","description":"ID of record","example":8769875072716209837,"format":"int64"},"last_name":{"type":"string","description":"Last name of user","example":"j8","minLength":2},"role":{"type":"string","description":"User's role","example":"Aliquid aut id quia."},"tenant_id":{"type":"integer","example":7069450719703720201,"format":"int64"},"validated":{"type":"boolean","description":"Validation status","example":true}},"description":"A user belonging to a tenant","example":{"active":false,"email":"Fuga voluptatem maxime quos ut nemo atque.","first_name":"Repellat placeat.","href":"Aut rerum asperiores sed.","id":8228687825420379810,"last_name":"Incidunt qui odio totam.","role":"Odio quia voluptas accusamus perspiciatis.","tenant_id":3020897881766934989,"validated":false}},"UserCollection":{"title":"Mediatype identifier: application/vnd.user+json; type=collection","type":"array","items":{"type":"object","properties":{"active":{"type":"boolean","description":"Activation status","example":false},"email":{"type":"string","description":"Email address of user","example":"wz","format":"email","minLength":2},"first_name":{"type":"string","description":"First name of user","example":"bjyh","minLength":2},"href":{"type":"string","description":"API href of record","example":"Nisi aspernatur non voluptatibus."},"id":{"type":"integer","description":"ID of record","example":8769875072716209837,"format":"int64"},"last_name":{"type":"string","description":"Last name of user","example":"j8","minLength":2},"role":{"type":"string","description":"User's role","example":"Aliquid aut id quia."},"tenant_id":{"type":"integer","example":7069450719703720201,"format":"int64"},"validated":{"type":"boolean","description":"Validation status","example":true}},"example":{"active":false,"email":"Ea non nobis quis dicta quas.","first_name":"Sed dolorem quisquam et dolorum necessitatibus repellat.","href":"Non soluta quod assumenda.","id":2864799652432519458,"last_name":"Ut tempora officiis totam qui et voluptatem.","role":"Soluta sit dolores et odio.","tenant_id":1157957693370268354,"validated":false}},"example":[{"active":true,"email":"Ab molestiae perferendis.","first_name":"Aut aliquid expedita velit blanditiis.","href":"Cum qui dolorum tenetur consequatur placeat.","id":3332962311508724350,"last_name":"Vero consequatur beatae vel.","role":"Nobis ipsum minus sed quod autem.","tenant_id":29406679474417738,"validated":false},{"active":true,"email":"Saepe voluptas labore deserunt.","first_name":"Cum nisi et.","href":"Vel ut molestiae eligendi similique.","id":5605687352271896603,"last_name":"Distinctio quia ab cum.","role":"Qui soluta.","tenant_id":1405392381356536020,"validated":false}]}},"responses":{"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/User"}}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"\n\n**Token URL**: \u003ca href='https://congo.gopheracademy.com/api/auth/token'\u003ehttps://congo.gopheracademy.com/api/auth/token\u003c/a\u003e","name":"Authorization","in":"header"},"password":{"type":"basic","description":"Use your own password!"}},"externalDocs":{"description":"Getting Started Guide","url":"https://congodocs.gopheracademy.com"}}