{"swagger":"2.0","info":{"title":"Congo - Conference Management Made Easy","description":"Multi-tenant conference management application","contact":{"name":"Gopher Academy","email":"social@gopheracademy.com","url":"https://gopheracademy.com"},"license":{"name":"MIT","url":"https://github.com/gopheracademy/congo/blob/master/LICENSE"},"version":""},"host":"api.gopheracademy.com","basePath":"/congo","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/accounts":{"post":{"description":"Create new account","operationId":"account#create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAccountPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"/accounts/[0-9]+"}}}},"schemes":["https"]}},"/accounts/{accountID}":{"get":{"description":"Retrieve account with given id","operationId":"account#show","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Account"}},"404":{"description":""}},"schemes":["https"]},"put":{"description":"Change account name","operationId":"account#update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAccountPayload"}}],"responses":{"204":{"description":""},"404":{"description":""}},"schemes":["https"]},"delete":{"operationId":"account#delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"204":{"description":""},"404":{"description":""}},"schemes":["https"]}},"/accounts/{accountID}/series":{"get":{"description":"List all series in account","operationId":"series#list","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/SeriesCollection"}}},"schemes":["https"]},"post":{"description":"Record new series","operationId":"series#create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","required":true,"type":"string"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateSeriesPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/accounts/[0-9]+/series/[0-9]+$"}}}},"schemes":["https"]}},"/accounts/{accountID}/series/{seriesID}":{"get":{"description":"Retrieve series with given id","operationId":"series#show","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","required":true,"type":"string"},{"name":"seriesID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Series"}},"404":{"description":""}},"schemes":["https"]},"patch":{"operationId":"series#update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","required":true,"type":"string"},{"name":"seriesID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateSeriesPayload"}}],"responses":{"204":{"description":""},"404":{"description":""}},"schemes":["https"]}},"/accounts/{accountID}/users":{"get":{"description":"List all users in account","operationId":"user#list","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/UserCollection"}}},"schemes":["https"]},"post":{"description":"Record new user","operationId":"user#create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","required":true,"type":"string"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateUserPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/accounts/[0-9]+/users/[0-9]+$"}}}},"schemes":["https"]}},"/accounts/{accountID}/users/{userID}":{"get":{"description":"Retrieve user with given id","operationId":"user#show","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","required":true,"type":"string"},{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/User"}},"404":{"description":""}},"schemes":["https"]},"patch":{"operationId":"user#update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountID","in":"path","required":true,"type":"string"},{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateUserPayload"}}],"responses":{"204":{"description":""},"404":{"description":""}},"schemes":["https"]}}},"definitions":{"Account":{"title":"Mediatype identifier: application/vnd.congo.api.account","type":"object","properties":{"created_at":{"type":"string","description":"Date of creation","format":"date-time"},"created_by":{"type":"string","description":"Email of account owner","format":"email"},"href":{"type":"string","description":"API href of account"},"id":{"type":"integer","description":"ID of account"},"name":{"type":"string","description":"Name of account"}},"description":"A tenant account"},"CreateAccountPayload":{"title":"CreateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"CreateSeriesPayload":{"title":"CreateSeriesPayload","type":"object","properties":{"name":{"type":"string","minLength":2}},"required":["name"]},"CreateUserPayload":{"title":"CreateUserPayload","type":"object","properties":{"email":{"type":"string","minLength":2},"first_name":{"type":"string","minLength":2},"last_name":{"type":"string","minLength":2}},"required":["email"]},"Series":{"title":"Mediatype identifier: application/vnd.congo.api.series","type":"object","properties":{"account":{"description":"Account that owns bottle","$ref":"#/definitions/Account"},"created_at":{"type":"string","description":"Date of creation","format":"date-time"},"href":{"type":"string","description":"API href of series"},"id":{"type":"integer","description":"ID of series"},"name":{"type":"string","minLength":2},"updated_at":{"type":"string","description":"Date of last update","format":"date-time"}},"description":"A recurring event or conference"},"SeriesCollection":{"title":"Mediatype identifier: application/vnd.congo.api.series; type=collection","type":"array","items":{"$ref":"#/definitions/Series"}},"UpdateAccountPayload":{"title":"UpdateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"UpdateSeriesPayload":{"title":"UpdateSeriesPayload","type":"object","properties":{"name":{"type":"string","minLength":2}}},"UpdateUserPayload":{"title":"UpdateUserPayload","type":"object","properties":{"email":{"type":"string","minLength":2},"first_name":{"type":"string","minLength":2},"last_name":{"type":"string","minLength":2}}},"User":{"title":"Mediatype identifier: application/vnd.congo.api.user","type":"object","properties":{"created_at":{"type":"string","description":"Date of creation","format":"date-time"},"email":{"type":"string","description":"Email address of user","format":"email"},"first_name":{"type":"string","description":"First name of user"},"href":{"type":"string","description":"API href of user"},"id":{"type":"integer","description":"ID of user"},"last_name":{"type":"string","description":"Last name of user"}},"description":"A user belonging to a tenant account"},"UserCollection":{"title":"Mediatype identifier: application/vnd.congo.api.user; type=collection","type":"array","items":{"$ref":"#/definitions/User"}}},"externalDocs":{"description":"congo guide","url":"https://gopheracademy.com/congo/getting-started.html"}}