{"swagger":"2.0","info":{"title":"Congo","description":"Congo","contact":{"name":"congo","email":"congo","url":"https://congo.com"},"version":""},"host":"congo.gopheracademy.com","basePath":"/api","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","application/gob","application/x-gob"],"paths":{"/admin/users":{"get":{"description":"List all users\n\n** Required security scopes**:\n","operationId":"adminuser#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new user\n\n** Required security scopes**:\n","operationId":"adminuser#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAdminuserPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/admin/users/[0-9]+$"}}}},"schemes":["https"]}},"/admin/users/{userID}":{"get":{"description":"Retrieve user with given id\n\n** Required security scopes**:\n","operationId":"adminuser#show","parameters":[{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"adminuser#delete","parameters":[{"name":"userID","in":"path","description":"UserID ","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"adminuser#update","parameters":[{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAdminuserPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/auth/refresh":{"post":{"description":"Obtain a refreshed access token","operationId":"auth#refresh","responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Authorize"}}},"schemes":["https"],"security":[{"password":[]}]}},"/auth/token":{"post":{"description":"Obtain an access token","operationId":"auth#token","responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Authorize"}}},"schemes":["https"],"security":[{"password":[]}]}},"/healthz":{"get":{"description":"Get Server Status","operationId":"healthz#status","schemes":["https"]}},"/tenants":{"get":{"description":"List all tenants\n\n** Required security scopes**:\n","operationId":"tenant#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TenantCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new tenant\n\n** Required security scopes**:\n","operationId":"tenant#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateTenantPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}":{"get":{"description":"Retrieve tenant with given id\n\n** Required security scopes**:\n","operationId":"tenant#show","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Tenant"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"tenant#delete","parameters":[{"name":"tenantID","in":"path","description":"Tenant ID","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"tenant#update","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateTenantPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/tenants/{tenantID}/events":{"get":{"description":"List all events\n\n** Required security scopes**:\n","operationId":"event#list","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new event\n\n** Required security scopes**:\n","operationId":"event#create","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateEventPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]/events/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}/events/{eventID}":{"get":{"description":"Retrieve event with given id","operationId":"event#show","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"event#delete","parameters":[{"name":"eventID","in":"path","description":"Event ID","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"event#update","parameters":[{"name":"eventID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateEventPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/tenants/{tenantID}/series":{"get":{"description":"List all series\n\n** Required security scopes**:\n","operationId":"series#list","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SeriesCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new series\n\n** Required security scopes**:\n","operationId":"series#create","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateSeriesPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]/series/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}/series/{seriesID}":{"get":{"description":"Retrieve series with given id\n\n** Required security scopes**:\n","operationId":"series#show","parameters":[{"name":"seriesID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Series"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"series#delete","parameters":[{"name":"seriesID","in":"path","description":"Series ID","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"series#update","parameters":[{"name":"seriesID","in":"path","required":true,"type":"integer"},{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateSeriesPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/tenants/{tenantID}/users":{"get":{"description":"List all users for a tenant\n\n** Required security scopes**:\n","operationId":"user#list","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserCollection"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"description":"Record new user\n\n** Required security scopes**:\n","operationId":"user#create","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateUserPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/tenants/[0-9]+/users/[0-9]+$"}}}},"schemes":["https"]}},"/tenants/{tenantID}/users/{userID}":{"get":{"description":"Retrieve user with given id\n\n** Required security scopes**:\n","operationId":"user#show","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"description":"\n\n** Required security scopes**:\n","operationId":"user#delete","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","description":"UserID ","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"description":"\n\n** Required security scopes**:\n","operationId":"user#update","parameters":[{"name":"tenantID","in":"path","required":true,"type":"integer"},{"name":"userID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateUserPayload"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}},"schemes":["https"]}},"/validate/{userID}":{"get":{"description":"validate user email","operationId":"validate#validate","parameters":[{"name":"userID","in":"path","required":true,"type":"string"},{"name":"v","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"}},"schemes":["https"]}}},"definitions":{"Authorize":{"title":"Mediatype identifier: application/vnd.authorize+json","type":"object","properties":{"access_token":{"type":"string","description":"access token","example":"Aut aspernatur excepturi."},"expires_in":{"type":"integer","description":"Time to expiration in seconds","example":1423874802512420957,"format":"int64"},"tenant":{"type":"object","properties":{"name":{"type":"string","description":"name","example":"Ab sit eos."}},"description":"tenant","example":{"name":"Sunt et."}},"token_type":{"type":"string","description":"type of token","example":"Culpa minima error dolores dolorem tempora."},"user":{"type":"object","properties":{"active":{"type":"boolean","description":"Activation status","example":false},"email":{"type":"string","description":"Email address of user","example":"lwz","format":"email","minLength":2},"first_name":{"type":"string","description":"First name of user","example":"bjyh","minLength":2},"href":{"type":"string","description":"API href of record","example":"Nisi aspernatur non voluptatibus."},"id":{"type":"integer","description":"ID of record","example":8769875072716209837,"format":"int64"},"last_name":{"type":"string","description":"Last name of user","example":"j8","minLength":2},"role":{"type":"string","description":"User's role","example":"Aliquid aut id quia."},"tenant_id":{"type":"integer","example":7069450719703720201,"format":"int64"},"validated":{"type":"boolean","description":"Validation status","example":true}},"description":"user","example":{"active":false,"email":"Ut magnam odit nemo numquam.","first_name":"Tempora a odit dolores voluptas quis.","href":"In eos ab porro est exercitationem nisi.","id":7180736786154332961,"last_name":"Velit excepturi aut minus nam.","role":"Doloremque blanditiis quo nostrum quo esse.","tenant_id":8701398505595027364,"validated":false}}},"description":"Token authorization response","example":{"access_token":"Laudantium tempore voluptatem.","expires_in":4869192690920850514,"tenant":{"name":"Eum est aut adipisci eaque."},"token_type":"Dolorum illo.","user":{"active":false,"email":"Beatae aperiam quo rerum neque beatae consequatur.","first_name":"Sed explicabo id eum eos tempora.","href":"Aliquam id.","id":8808219743307988971,"last_name":"Debitis est esse a.","role":"Libero sint cumque voluptatum iste qui molestiae.","tenant_id":9223089239784314814,"validated":false}}},"CreateAdminuserPayload":{"title":"CreateAdminuserPayload","type":"object","properties":{"email":{"type":"string","minLength":2},"first_name":{"type":"string","minLength":2},"id":{"type":"integer","format":"int64"},"last_name":{"type":"string","minLength":2},"member_id":{"type":"integer","example":7385285200608414892,"format":"int64"},"password":{"type":"string","minLength":8},"role":{"type":"string"},"validated":{"type":"boolean"},"validation_code":{"type":"string","minLength":8}},"required":["first_name","last_name","email","password","role"]},"CreateEventPayload":{"title":"CreateEventPayload","type":"object","properties":{"name":{"type":"string","minLength":2}},"required":["name"]},"CreateSeriesPayload":{"title":"CreateSeriesPayload","type":"object","properties":{"name":{"type":"string","minLength":2}},"required":["name"]},"CreateTenantPayload":{"title":"CreateTenantPayload","type":"object","properties":{"name":{"type":"string","example":"qnbs","minLength":2}},"required":["name"]},"CreateUserPayload":{"title":"CreateUserPayload","type":"object","properties":{"email":{"type":"string","example":"4zn","minLength":2},"first_name":{"type":"string","minLength":2},"id":{"type":"integer","format":"int64"},"last_name":{"type":"string","minLength":2},"password":{"type":"string","example":"ygqb6gz6kv","minLength":8},"role":{"type":"string","example":"Modi aut delectus qui autem vel saepe."},"validated":{"type":"boolean","example":true},"validation_code":{"type":"string","example":"3rle6ysw","minLength":8}},"required":["first_name","last_name","email","password","role"]},"Event":{"title":"Mediatype identifier: application/vnd.event+json","type":"object","properties":{"end_date":{"type":"string","description":"end_date","example":"2008-04-08T06:24:33-04:00","format":"date-time"},"location":{"type":"string","description":"location","example":"Et iure."},"name":{"type":"string","description":"name","example":"Corporis eaque sit ut enim qui quia."},"start_date":{"type":"string","description":"start_date","example":"2009-12-13T10:00:31-05:00","format":"date-time"},"url":{"type":"string","description":"event URL","example":"Suscipit quia."}},"description":"An event is a specific instance of a conference, e.g. GopherCon 2016","example":{"end_date":"1995-03-23T19:05:53-05:00","location":"Aliquam qui.","name":"Nihil est sit ducimus.","start_date":"1984-06-18T22:46:02-04:00","url":"Molestias dicta excepturi corporis ullam."}},"EventCollection":{"title":"Mediatype identifier: application/vnd.event+json; type=collection","type":"array","items":{"type":"object","properties":{"end_date":{"type":"string","description":"end_date","example":"2008-04-08T06:24:33-04:00","format":"date-time"},"location":{"type":"string","description":"location","example":"Et iure."},"name":{"type":"string","description":"name","example":"Corporis eaque sit ut enim qui quia."},"start_date":{"type":"string","description":"start_date","example":"2009-12-13T10:00:31-05:00","format":"date-time"},"url":{"type":"string","description":"event URL","example":"Suscipit quia."}},"example":{"end_date":"1973-11-17T07:42:19-05:00","location":"Eum hic accusamus qui aspernatur vitae.","name":"Saepe odit porro.","start_date":"1985-05-14T04:14:31-04:00","url":"Tenetur sint aspernatur."}},"example":[{"end_date":"1997-08-19T11:06:19-04:00","location":"Alias impedit.","name":"Cumque delectus ipsum.","start_date":"1980-10-15T18:51:20-04:00","url":"Vel id praesentium debitis nostrum aut quia."},{"end_date":"1997-02-19T18:04:15-05:00","location":"Recusandae amet voluptatem omnis necessitatibus sequi.","name":"Qui itaque.","start_date":"1989-11-24T06:14:49-05:00","url":"Delectus sint id reiciendis hic."}]},"Series":{"title":"Mediatype identifier: application/vnd.series+json","type":"object","properties":{"name":{"type":"string","description":"name","example":"Ipsum aperiam nihil voluptatem qui voluptate recusandae."}},"description":"A series is a recurring event, e.g. GopherCon","example":{"name":"Nesciunt voluptatem reprehenderit et qui."}},"SeriesCollection":{"title":"Mediatype identifier: application/vnd.series+json; type=collection","type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"name","example":"Ipsum aperiam nihil voluptatem qui voluptate recusandae."}},"example":{"name":"Libero cumque aut sit et numquam."}},"example":[{"name":"Odit ex."}]},"Tenant":{"title":"Mediatype identifier: application/vnd.tenant+json","type":"object","properties":{"name":{"type":"string","description":"name","example":"Ab sit eos."}},"description":"Tenant account in Congo","example":{"name":"Dolorem similique consectetur atque."}},"TenantCollection":{"title":"Mediatype identifier: application/vnd.tenant+json; type=collection","type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"name","example":"Ab sit eos."}},"example":{"name":"Numquam quae ut porro."}},"example":[{"name":"Dolor in voluptatem sit neque iusto."},{"name":"Et quae."}]},"UpdateAdminuserPayload":{"title":"UpdateAdminuserPayload","type":"object","properties":{"email":{"type":"string","minLength":2},"first_name":{"type":"string","minLength":2},"id":{"type":"integer","format":"int64"},"last_name":{"type":"string","minLength":2},"password":{"type":"string","minLength":8},"role":{"type":"string"},"validated":{"type":"boolean"},"validation_code":{"type":"string","minLength":8}}},"UpdateEventPayload":{"title":"UpdateEventPayload","type":"object","properties":{"end_date":{"type":"string","format":"date-time"},"name":{"type":"string","minLength":2},"start_date":{"type":"string","format":"date-time"},"url":{"type":"string","minLength":5}}},"UpdateSeriesPayload":{"title":"UpdateSeriesPayload","type":"object","properties":{"name":{"type":"string","minLength":2}}},"UpdateTenantPayload":{"title":"UpdateTenantPayload","type":"object","properties":{"name":{"type":"string","minLength":2}}},"UpdateUserPayload":{"title":"UpdateUserPayload","type":"object","properties":{"email":{"type":"string","minLength":2},"first_name":{"type":"string","minLength":2},"id":{"type":"integer","format":"int64"},"last_name":{"type":"string","minLength":2},"password":{"type":"string","minLength":8},"role":{"type":"string"},"validated":{"type":"boolean"},"validation_code":{"type":"string","minLength":8}}},"User":{"title":"Mediatype identifier: application/vnd.user+json","type":"object","properties":{"active":{"type":"boolean","description":"Activation status","example":false},"email":{"type":"string","description":"Email address of user","example":"lwz","format":"email","minLength":2},"first_name":{"type":"string","description":"First name of user","example":"bjyh","minLength":2},"href":{"type":"string","description":"API href of record","example":"Nisi aspernatur non voluptatibus."},"id":{"type":"integer","description":"ID of record","example":8769875072716209837,"format":"int64"},"last_name":{"type":"string","description":"Last name of user","example":"j8","minLength":2},"role":{"type":"string","description":"User's role","example":"Aliquid aut id quia."},"tenant_id":{"type":"integer","example":7069450719703720201,"format":"int64"},"validated":{"type":"boolean","description":"Validation status","example":true}},"description":"A user belonging to a member","example":{"active":false,"email":"Dolores tempora esse impedit.","first_name":"Itaque praesentium incidunt illo distinctio fugit molestias.","href":"Ex harum quis.","id":6046393082666534062,"last_name":"Ipsum dolor.","role":"Voluptatum aut sapiente consequatur sit autem vel.","tenant_id":2874915482724687243,"validated":false}},"UserCollection":{"title":"Mediatype identifier: application/vnd.user+json; type=collection","type":"array","items":{"type":"object","properties":{"active":{"type":"boolean","description":"Activation status","example":false},"email":{"type":"string","description":"Email address of user","example":"lwz","format":"email","minLength":2},"first_name":{"type":"string","description":"First name of user","example":"bjyh","minLength":2},"href":{"type":"string","description":"API href of record","example":"Nisi aspernatur non voluptatibus."},"id":{"type":"integer","description":"ID of record","example":8769875072716209837,"format":"int64"},"last_name":{"type":"string","description":"Last name of user","example":"j8","minLength":2},"role":{"type":"string","description":"User's role","example":"Aliquid aut id quia."},"tenant_id":{"type":"integer","example":7069450719703720201,"format":"int64"},"validated":{"type":"boolean","description":"Validation status","example":true}},"example":{"active":true,"email":"Dolorum ab officia aut.","first_name":"Similique reiciendis aut sit.","href":"Et voluptatem eum.","id":7076085756179174001,"last_name":"Quasi consectetur iusto dolor iure fuga harum.","role":"Placeat cumque quos praesentium id quis asperiores.","tenant_id":6132874725044801626,"validated":false}},"example":[{"active":true,"email":"Nihil vero quae fuga tempora exercitationem nihil.","first_name":"Facilis qui molestias nihil saepe.","href":"Et voluptatem non quis pariatur voluptatem.","id":6641947204679156725,"last_name":"Et ad quo.","role":"Blanditiis officiis sint hic ex ea ut.","tenant_id":4863047036579607341,"validated":true},{"active":true,"email":"Aut tempora nihil voluptas quo nesciunt dolor.","first_name":"Sequi corporis non molestiae earum ut.","href":"Alias voluptatibus dolorem non.","id":7330815368201785052,"last_name":"Quia enim.","role":"Eos earum aut.","tenant_id":5314665214832562221,"validated":true},{"active":true,"email":"Perspiciatis nisi.","first_name":"Aperiam est perferendis velit et atque.","href":"Ipsa laudantium iste eos qui.","id":7341766511659509413,"last_name":"Nam et minus molestiae.","role":"Totam porro voluptatibus nam.","tenant_id":5841314298506504195,"validated":false}]}},"responses":{"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/User"}}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"\n\n**Token URL**: \u003ca href='https://congo.gopheracademy.com/api/auth/token'\u003ehttps://congo.gopheracademy.com/api/auth/token\u003c/a\u003e","name":"Authorization","in":"header"},"password":{"type":"basic","description":"Use your own password!"}},"externalDocs":{"description":"Getting Started Guide","url":"https://congo.com"}}