<html>
	<head>
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<p>Hello, world of {{.Animals}}!</p>

		<script src="/assets/script/script.js" type="text/javascript"></script>
	</body>
</html>
